@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
	$(document).ready(function () {
		// alert("Hey, jQuery!");

		num1 = 24;
		num2 = 8;

		// Sayfa ready olduğunda bir post atıyor ancak sayfa yenilenmiyor ve client görmüyor

		$.ajax({
			type: "POST",
			url: "@Url.Action("Calculate")",
			data: { number1: num1, number2: num2 },
			dataType: "json",
			success: function (data) {
				// alert(data); // [object Object] döndü
				var jsonData = JSON.stringify(data);
				console.log(jsonData);
				var objData = JSON.parse(jsonData);
				console.log(objData);

				console.log(objData.add)
				console.log(objData.substract);
				console.log(objData["multiply"]);
				console.log(objData["divide"]);
			},
			error: function (req, status, error) {
				console.log("status: " + status + ", error: " + error);
			}
		});

		// $.ajax({
		// 	type: "POST",
		// 	url: "@Url.Action("Add")",
		// 	data: { number1: num1, number2: num2 },
		// 	dataType: "text",
		// 	success: function (data) {
		// 		alert(data);
		// 		console.log(data);
		// 	},
		// 	error: function (req, status, error) {
		// 		alert(error);
		// 		console.log(error);
		// 	}
		// })
	})
</script>
